<p>Hello ${name},</p>
      <p>I am excited to apply for the <b>Node.js Developer</b> position at ${company}. 
         With my expertise in backend development, <b>Node.js, Express.js, MongoDB</b>, 
         and RESTful API design, I am eager to contribute to your innovative team.</p>
      <p>I have attached my resume for your review. I look forward to the opportunity 
         to discuss how my skills align with the role. Please let me know a convenient time for an interview.</p>
      <p>Best regards,</p>
      <p><b>Omkar Sonawane</b><br>
        Phone: +91 7XXXXXXXXX<br>
         <a href="https://www.linkedin.com/in/omkar0104">LinkedIn Profile</a></p>
    